:root{
    --color-papier:#fbf7f0 ;
    --color-inkt: #2b2b2b;
    --color-gedempt:#6b6b6b;
    --color-accent: #fba383;
    --color-zebra: #f1e9dc;
    --fontsize-tekst : 1rem;
    --fontfamily-ver: Verdana, Geneva, Tahoma, sans-serif;

}
body {
 background-color: var(--color-papier);
 font-family: var(--fontfamily-ver);
 
}

